{% extends "layout.html" %}


{% block main %}
    <h1>Settings</h1>
        <br>
    <h2>Username: </h2>
    <h4>{{ name }}</h4>
        <br>
    <h2>Password:</h2>
    <h4>{{ word }}</h4>
    <h4>Change Username</h4>
        <br>
    <form action="/name" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="New Username" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <br>
    <h4>Change Password</h4>
    <br>
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new" placeholder="New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <br>
    <h4>Delete Account</h4>
    <p>Be sure of this! After deleting your account, <b class="red">there is no going back.</b></p>
        <br>
    <form onclick="myFunction()" action="/delacc" method="post">
        <button class="btn btn-danger" type="submit"><b>DELETE ACCOUNT</b></button>
    </form>
    <script>
    function myFunction() {
      alert("Your account is now deleted.");
    }
    </script>

{% endblock %}